[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "userspace/apps/doom/doomgeneric"]
	path = userspace/apps/doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
