[unstable]
# enable the unstable artifact-dependencies feature, see
# https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#artifact-dependencies
bindeps = true

[target.x86_64-unknown-none]
rustflags = ["-C", "relocation-model=static"]

[alias]
ktest = "run -p runner --features kernel_test --"